/* Core Styles */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333;
  background: #333;
  color: #fff;
  font-size: 1.1rem;
  line-height: 1.5;
  text-align: center;
}

img {
  display: block;
  /* This will limit the picture size to the container's dimensions */
  width: 100%;
  height: auto;

}

h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

.btn {
  display: inline-block;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #777;
  margin: .5em 0;
}

.btn:hover {
  background: #eaeaea;
  color: #333;
}

/* Header Showcase */
#showcase {
  min-height: 450px;
  color: #fff;
  text-align: center;
}

#showcase .bg-image {
  position: absolute;
  background: #333 url('https://images.unsplash.com/photo-1571171637578-41bc2dd41cd2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /* We are placing the picture on top of the container showcase; showcase is 450px in height */
  /* Note: height must equal the height of the container */
  height: 450px;
  /* Must have picture in the background.  Therefore specify z-index:-1 */
  z-index: -1;
  /* Blur the picture = easier to read  */
  opacity: 0.4;
}

#showcase h1 {
  padding-top: 100px;
  padding-bottom: 0;
}

#showcase .content-wrap,
#section-a .content-wrap {
  padding: 0 1.5em;
}

/* Section A */
#section-a {
  background: #eaeaea;
  color: #333;
  padding: 0 0 2em 0;
}


/* Section B */
#section-b {
  padding: 2em 1em 1em;
}

#section-b ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#section-b li {
  margin-bottom: 1em;
  background: #fff;
  color: #333;
}

.card-content {
  padding: 1.5em;
}


/* Section C */
#section-c {
  background: #fff;
  color: #333;
  padding: 2em;
}


/* Section D */
#section-d .box {
  padding: 2em;
  color: #fff;
}

#section-d .box:first-child {
  background: #2690d4;
}

#section-d .box:nth-child(2) {
  background: salmon;
}


.contactUs,
.aboutOur {
  max-width: 1900px;
}


/* Footer */
#main-footer {
  padding: 2em;
  background: #000;
  color: #fff;
  text-align: center;
}

#main-footer a {
  color: #2690d4;
  text-decoration: none;
}


/* Media Query */
@media (min-width: 700px) {
  .grid {
    display: grid;
    /* grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr; */
    grid-template-columns: 1fr 3fr 3fr 1fr;
  }

  #section-a .content-text {
    columns: 2;
    column-gap: 2em;
  }

  .topZero {
    padding: 0;
    text-align: justify;
  }

  .content-wrap,
  #section-b ul {
    grid-column: 2/4;
  }

  .box,
  #main-footer div {
    grid-column: span 2;
  }

  #section-b ul {
    display: flex;
    justify-content: space-around;
  }

  #section-b li {
    width: 31%;
    text-align: justify;
  }

  #section-b .card-title {
    text-align: center;
  }
}